.mobile {
    display: none;
    border: 1px solid rgb(51, 102, 153);
    border-left: none;
    border-right: none;
    width: 100%;
    margin: 0px 0px;
    background: rgba(83, 134, 186, 0.95);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgba(51, 102, 153, 0.9);
    z-index: 9999;
    position: fixed;
    bottom: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
    margin: 0;
    left: 0;
    padding-left: 0;
    padding-bottom: 75px;
    top: 0;
}

.mobile_bars_background {
    cursor: pointer;
    z-index: 99999;
    right: 30px;
    bottom: 30px;
    display: block;
    position: fixed;
}

.mobile_bars {
    padding-left: 5px;
    padding-right: 5px;
}

.bar1,
.bar2,
.bar3 {
    width: 60px;
    height: 12px;
    background: #428bca;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-17px, 17px);
    transform: rotate(-45deg) translate(-17px, 17px);
    background: #005197;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background: #005197;
}

.mobile li {
    display: block;
    padding: 0;
    float: none;
    position: relative;
}

.mobile li a {
    color: #FFF;
    text-align: center;
    padding: 22px 0 30px 0 !important;
    text-decoration: none;
    font-family: sans-serif, serif !important;
    display: block;
}

.mobile li a:hover {
    color: #FFF !important;
    background: rgba(51, 102, 153, 0.8);
    border-top: 3px solid #336699;
    text-decoration: none;
}

.mobile .container {
    padding-left: 0px;
    padding-right: 0px;
}
